{% extends 'base.html' %} {% block body %}
<div class="about-container">
    <div class="container-fluid" style="background:url(./static/images/about.jpg);height:600px;width:1349px">

        <div class="mini-container"
            style="position:absolute;left:305px;top:78px;background:white;padding:6px 12px;border-radius:12px">
            <h3 class=" text-center" style="color:rgb(0,0,243);font-size:90px;font-family: 'Balsamiq Sans', cursive;">
                The
                Barbeque.</h3>
            <h1 class="text-center" style="color:rgb(238, 22, 76);font-family: 'Source Sans Pro', sans-serif;">
                <strong>
                    We will make you fall in love with our
                    Food! <strong>
            </h1>

        </div>
        <!-- <img src="./static/images/about hotel.jpg" width="500px" height="300px" alt=""
            style="position:absolute;right:30px"> -->

    </div>

    <div class="second-container" style="background:#e7eeed;height:700px;width:1349px;position:relative">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h1 class="text-center">Meet The Founder <i class="fas fa-wrench fa-2x"></i></h1>
        <br>
        <h1 class="text-center" style="color:#1544c0;font-size:100px;">Gordon Ramsay <i class="fas fa-hat-chef "></i>
        </h1>

    </div>

    <div class="Third-container" style="background:#e7eeed;height:700px;width:1349px;position:relative">
        <img src="./static/images/Gordon-Ramsay.jpg" alt="image of the founder" style="float:right">
        <div class="mini2container">
            <h3 class="text-center founder-header">The Founder</h3>
            <h1 class="text-center" style="color:#1544c0;font-family: 'Balsamiq Sans', cursive;">Gordon Ramsay</h1>
            <p style="font-family: 'Source Sans Pro', sans-serif;" class="mx-3"> Gordon James Ramsay OBE (/ˈræmziː/;
                born 8 November
                1966) is
                a
                British chef, restaurateur, television
                personality, and
                writer. Born in Johnstone, Scotland, and raised in Stratford-upon-Avon, England, he founded his global
                restaurant group,
                <strong>The BBQ Restaurants</strong>, in 1997. It has been awarded 16 Michelin stars in total and
                currently
                holds a
                total of
                seven.[2][3][4] After rising to fame on the British television miniseries Boiling Point in 1999, Ramsay
                had
                become one
                of the best-known and most influential chefs in the UK by 2004.[5][6]

                As a reality television personality, Ramsay is known for his bluntness, as well as fiery temper, strict
                demeanour, and
                frequent use of profanity. He combines activities in the television, film, hospitality, and food
                industries
                and has
                promoted and hired various chefs who have apprenticed under his wing. Ramsay is known for presenting TV
                programmes about
                competitive cookery and food, such as the British series Hell's Kitchen (2004), Ramsay's Kitchen
                Nightmares
                (2004–2009)
                and The F Word (2005–2010), the latter winning the BAFTA for Best Feature at the 2005 British Academy
                Television Awards,
                and the American versions of Hell's Kitchen (2005–present), Kitchen Nightmares (2007–2014), MasterChef
                (2010–present),
                MasterChef Junior (2013–present), as well as Hotel Hell (2012–2016), Gordon Behind Bars (2012), and 24
                Hours
                to Hell and
                Back (2018–present).

                Ramsay was appointed Officer of the Order of the British Empire (OBE) by Queen Elizabeth II in the 2006
                New
                Year Honours
                list for services to the hospitality industry. In July 2006, he won the Catey award for "Independent
                Restaurateur of the
                Year", becoming only the third person to have won three Catey awards. In 2020, Forbes listed his
                earnings at
                $70 million
                for the previous 12 months, and ranked him the 19th-highest-earning celebrity in the world.[7]
                <br>
                <br>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="https://twitter.com/GordonRamsay?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i
                        class="fab fa-twitter fa-2x"></i></a>
                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in fa-2x"></i></a>
            </p>
            <p class="mx-3">All Rights Reserved <strong>&copy;</strong></p>
        </div>

    </div>
    <div class="container-3" style="background: #e7eeed;width:1349px;height:625px">
        <img src="./static/images/chefs.jpg" height="600px" width="700px" alt="" style="float:right">
        <div class="container3-mini mx-3">
            <h1 style=" color: #1544c0;font-size:50px;font-family: 'Balsamiq Sans' , cursive;">Serving Love
                Across The Globe
            </h1>
            <p
                style="font-size:20px;font-family:'font-family: 'Source Sans Pro', sans-serif;';font-size:25px">
                We are based in
                India having our Restaurants all across the Globe.We have top
                quality chef's making the dishes you could only dream of. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Ipsam sed numquam dolores repellendus assumenda quaerat nemo illo. Repellat, cumque
                deserunt, nesciunt esse ea distinctio vero optio ex voluptate velit eveniet laboriosam incidunt aperiam
                quam, eius beatae corporis cupiditate dignissimos debitis atque voluptates similique. Fugiat ab quos non
                consequuntur assumenda facilis.</p>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="https://twitter.com/GordonRamsay?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i
                    class="fab fa-twitter fa-2x"></i></a>
            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in fa-2x"></i></a>
            <br>
            <p>All Rights Reserved <strong>&copy;</strong></p>
        </div>
        <!-- <img src="./static/images/chefs.jpg" alt="image of chefs!"> -->



    </div>



</div>


{% endblock body %} {% block title %}
About {% endblock title %}